/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #f6f8f9;
}

.container {
    width: 70%;
    margin: auto;
}


/* HEADER */
header {
    height: 100px;
    background-color: white;
    padding-top: 10px;
    padding-left: 30px;
}

.toboolist-logo {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
}

.toboolist-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 55px;
    font-weight: bold;
}
/* END HEADER */


/* BUTTON CONTAINER */
.button-container {
    width: 100%;
    height: 60px;
    background-color: white;
    margin-top: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button {
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 70px;
}

#add-task {
    border: 1px solid #47adf1;
    color: white;
    background-color: #47adf1;
}

#add-section {
    border: 1px solid grey;
    color: grey;
    background-color: white;
}
/* END BUTTON CONTAINER */


/* MAIN */
.section-container {
    width: 100%;
    background-color: white;
    margin-top: 5px;
}

.section-container section ul li {
    list-style-type: none;
    line-height: 40px;
}

.list-title {
    font-size: 20px;
    font-weight: bold;
}


.checkmark {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
    font-size: 8px;
    font-weight: bold;
}

.crossmark {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
    font-size: 8px;
    font-weight: bold;
}

.section-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

section {
    margin-bottom: 20px;
}

.nuvola {
    font-size: 10px;
    text-decoration: none;
    border-radius: 10px;
    padding: 4px;
    color: white;
}

.nuvola.editorial {
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

.nuvola.q1goals {
    background-color: #9c72e4;
    border: 1px solid #9c72e4;
}

.nuvola.recruiting {
    background-color: #64c0a9;
    border: 1px solid #64c0a9;
}

.nuvola.mobile {
    background-color: #f29e33;
    border: 1px solid #f29e33;
}

.nuvola.website {
    background-color: #d863a1;
    border: 1px solid #d863a1;
}

.nuvola.sales {
    background-color: #b0c926;
    border: 1px solid #b0c926;
}

